.modified1 {
    background-color: blue;
    color: white;
}

.modified2 {
    background-color: green;
    color: black;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#city-image {
    width: 400px;
}